<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDAO" class="ru.otus.spring082022.Beloborodov.repositary.QuestionDAOImpl">
        <constructor-arg name="filePath" value="src/main/resources/questions.csv"/>
    </bean>

    <bean id="questionService" class="ru.otus.spring082022.Beloborodov.service.QuestionServiceImpl">
        <constructor-arg name="questionDAO" ref="questionDAO"/>
    </bean>

</beans>
